<h1>Make a new song</h1>


<form action="/songs" method="post">
<p> Insert song Name <input type="text" name="name"> </p>
<p> Insert song Artist <input type="text" name="artist"> </p>
<input type="submit">
</form>
